{% extends 'base.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page </title>
  <!-- Font Icon -->
<link rel="stylesheet" href="{% static 'reg/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!-- Main css -->
<link rel="stylesheet" href="{% static 'reg/css/style.css' %}">


</head>
<body>
    
  <div class="main">
    <section class="signup">
        <!--<img src="images/R.jfif" alt="">--> 
        <div class="container">
            <div class="signup-content">
                {% if messages %}
 {% for msg in messages %}
 <h2>{{msg}}</h2>
 
 {% endfor %}
 {% endif %}
                <form onsubmit ="return unameValidation() && fnameValidation() && lnameValidation()  && emailValidation() && passwordValidation() && cpasswordValidation()" action="{% url 'register.html' %}" method="POST" id="signup-form" class="signup-form">
                    {% csrf_token %}
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="uname" id="name" placeholder="User Name" onkeyup='unameValidation(this)' required/>
                        <span class="error-msg" id="uname"> </span><br>
                    </div>
                     <div class="form-group">
                        <input type="text" class="form-input" name="fname" id="first_name" placeholder="First Name"    onkeyup='fnameValidation(this)'   required/>
                        <span class="error-msg" id="fname"> </span><br>
                    </div>
                     <div class="form-group">
                        <input type="text" class="form-input" name="lname" id="last_name" placeholder="last Name" onkeyup='lnameValidation(this)' required/>
                        <span class="error-msg" id="lname"> </span><br>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email_id" placeholder="Your Email"  onkeyup='emailValidation(this)' required/>
                        <span class="error-msg" id="email"> </span><br>
                    </div>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-input" name="password" id="pass" placeholder="Password"  onkeyup='passwordValidation(this)' required/>
                        <span class="error-msg" id="password"> </span><br>
                        <!-- <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span> -->
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="cpassword" id="cpass"  placeholder="Repeat your password" onkeyup='cpasswordValidation(this)' required/>
                        <span class="error-msg" id="cpassword"> </span><br>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"required />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>
                    
                </form>
                
                <p class="loginhere">
                    Have already an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>
   
    <script type="text/javascript">
    
    function unameValidation(inputTxt){
        
        var regx = /^[a-zA-Z]+$/;
        var textField = document.getElementById("uname");
    
        if(inputTxt.value != '' ){
    
            if(inputTxt.value.length >= 2){
    
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
    
                }else{
                    textField.textContent = 'only characters allowded';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input mut be more than two chracters';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input is empty';
    
            textField.style.color = "red";
        }
    }

        function fnameValidation(inputTxt){
        
            var regx = /^[a-zA-Z]+$/;
            var textField = document.getElementById("fname");
        
            if(inputTxt.value != '' ){
        
                if(inputTxt.value.length >= 2){
        
                    if(inputTxt.value.match(regx)){
                        textField.textContent = '';
                        textField.style.color = "green";
        
                    }else{
                        textField.textContent = 'only characters allowded';
                        textField.style.color = "red";
                    }
                }else{
                    textField.textContent = 'your input mut be more than two chracters';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input is empty';
        
                textField.style.color = "red";
            }
        }
        
        function lnameValidation(inputTxt){
        
        var regx = /^[a-zA-Z]+$/;
        var textField = document.getElementById("lname");
    
        if(inputTxt.value != '' ){
    
            if(inputTxt.value.length >= 2){
    
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
    
                }else{
                    textField.textContent = 'only characters allowded';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input mut be more than two chracters';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input is empty';
    
            textField.style.color = "red";
        }
    }
        
        
        
        function emailValidation(inputTxt){
            // ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
            var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
            var textField = document.getElementById("email");
        
            if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
                }else{
                    textField.textContent = 'email is not valid!!!';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input is empty';
                textField.style.color = "red";
            }
        }
        
       
        
        
        function passwordValidation(inputTxt){
        
            var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
            var textField = document.getElementById("password");
        
            if(inputTxt.value != '' ){
                    if(inputTxt.value.match(regx)){
                        textField.textContent = '';
                        textField.style.color = "green";
        
                    }else{
                        textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                        textField.style.color = "red";
                    }
            }else{
                textField.textContent = 'your input is empty';
                textField.style.color = "red";
            }
        }
        
        
        function cpasswordValidation(inputTxt){
        
            var regx =  document.getElementById("pass").value;
            var regy =  document.getElementById("cpass").value;
            var textField = document.getElementById("cpassword");
            var textField1 = document.getElementById("password");
        
            if(inputTxt.value != '' ){
                    if(regx == regy){
                        textField.textContent = '';
                        textField.style.color = "green";
        
                    }else{
                        textField.textContent = 'not match';
                        textField.style.color = "red";
                    }
                }else{
                    textField.textContent = '';
                    textField.style.color = "red";
                }
        }
        
          </script>
    

</div>
 <!-- JS -->
 <script src="{% static 'reg/vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'reg/js/main.js' %}"></script>
 <!-- {% if messages %}
 {% for msg in messages %}
 <h2>{{msg}}</h2>
 
 {% endfor %}
 {% endif %} -->
</body>
</html>

{% endblock %}
